<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/diagnostics.svg', width: 130, height: 25, alt: 'Diagnostics'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/diagnostics.svg', width: 30, height: 30, alt: 'Diagnostics'}" [sidebarToggler]="'lg'"
  [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto env-nav">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li> -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle
        (click)="false">
        <div>Environment:
          <span class="bolder">{{currentEnvironment}}</span>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>Environments</strong>
        </div>
        <a *ngFor="let item of environments" class="dropdown-item" (click)="changeEnvironmentAndReload(item)">
          <i class="fa fa-tasks"></i> {{item}}
          <span class="badge badge-info"></span>
        </a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <div class="row">&nbsp;</div>
    <!-- <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </ol> -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
</div>


<app-footer>
  <span>
    <a href="https://github.com/tonyredondo/TWCore2.Diagnostics.Client">TWCore Diagnostics</a> &copy; 2019 Daniel Redondo.</span>
  <span class="ml-auto">Powered by
    <a href="https://coreui.io/angular">CoreUI for Angular</a>
  </span>
</app-footer>
