<div class="chart-card" *ngIf="series">
  <div class="chart">
      <apx-chart [series]="series"
        [chart]="chart"
        [dataLabels]="dataLabels"
        [title]="title"
        [subtitle]="subtitle"
        [xaxis]="xaxis"
        [tooltip]="tooltip">
      </apx-chart>
  </div>

  <div class="summary">

    <div class="centered">
      <div class="item">
          <div>Cummulative</div>
          <div class="value">{{cumulative}} <span>requests</span></div>
      </div>
      <div class="item">
          <div>Avg. Hourly</div>
          <div class="value">{{average}} <span>requests</span></div>
      </div>

    </div>

  </div>
</div>
