<ol class="breadcrumb breadcrumb-body">
  <table>
    <tr>
      <td class="breadcrumb-icon"></td>
      <td class="breadcrumb-title">
        <strong>Logs</strong> -
        <input type="text" placeholder="Showing dates" class="widget-date widget-range fa-pointer" bsDaterangepicker [bsConfig]="bsConfig"
          [bsValue]="bsValue" [(ngModel)]="bsValue" (ngModelChange)="getApplications()" />

        <span class="fa-pointer float-right" (click)="getApplications()">
            <i class="fa fa-refresh"></i>&nbsp;
            <span>Refresh</span>
        </span>
      </td>
    </tr>
  </table>
</ol>

<div class="scrollOverlay">

  <!-- Primer Row con Widgets -->
  <div class="row" [hidden]="!showChart">

    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
              [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!--/.col-->
    <div class="col-lg-3 header">
      <div class="card" style="margin-bottom: 0.2rem;">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bug bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{errorCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Errors</div>
        </div>
      </div>
      <div class="card" style="margin-bottom: 0.2rem;">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-warning bg-warning p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3">{{warningCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Warnings</div>
        </div>
      </div>
      <div class="card" style="margin-bottom: 0.2rem;">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-info bg-success p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">{{statsCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Stats</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row con Charts -->


  <!-- No Data Alert -->
  <div class="col-lg-12" *ngIf="!showChart">
    <div class="card">
      <div class="card-body">
        <alert type="info" class="no-bottom-margin-alert">
          <strong>Ups!, there is not data for the selected date range.</strong>
          <br/> Please select another range of dates to get results.
        </alert>
      </div>
    </div>
  </div>

  <!-- Tablas de Datos -->
  <div *ngFor="let item of summary?.applications">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" [ngClass]="{
            'card-accent-success': currentLogData(item).level === 'Stats',
            'card-accent-danger': currentLogData(item).level === 'Error',
            'card-accent-warning': currentLogData(item).level === 'Warning',
            'card-accent-secondary': currentLogData(item).level !== 'Stats' && currentLogData(item).level !== 'Error' && currentLogData(item).level !== 'Warning',
            'card-collapsed': currentLogData(item).isCollapsed,
            'card-expanded': !currentLogData(item).isCollapsed
          }">
          <div class="card-header" [ngClass]="{ 'background-white': currentLogData(item).isCollapsed }">
            <table class="card-table">
              <tr>
                <td class="td-icon">
                  <i class="fa fa-pointer" [ngClass]="{
                      'fa-caret-right': currentLogData(item).isCollapsed,
                      'fa-caret-down': !currentLogData(item).isCollapsed }" (click)="currentLogData(item).isCollapsed = !currentLogData(item).isCollapsed"></i>
                </td>
                <td class="td-title" (click)="currentLogData(item).isCollapsed = !currentLogData(item).isCollapsed">{{item.application}}</td>
                <td class="td-level" >
                  <span class="expandedSpan" *ngIf="!currentLogData(item).isCollapsed">
                      <div class="fa-pointer" (click)="goToPage(item, currentLogData(item).unwrappedData?.pageNumber)">
                        <i class="fa fa-refresh"></i>
                        {{currentLogData(item).unwrappedData?.totalResults}} items &nbsp;
                      </div>
                  </span>
                  <div class="btn-group float-right right-buttons" dropdown [isDisabled]="item.levels.length == 1" [hidden]="currentLogData(item).isCollapsed">
                    <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{
                                  'btn-success': currentLogData(item).level === 'Stats',
                                  'btn-danger': currentLogData(item).level === 'Error',
                                  'btn-warning': currentLogData(item).level === 'Warning',
                                  'btn-secondary': currentLogData(item).level !== 'Stats' && currentLogData(item).level !== 'Error' && currentLogData(item).level !== 'Warning'}">
                      {{currentLogData(item).level}}
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                      <li role="menuitem" *ngFor="let level of item.levels">
                        <a class="dropdown-item" (click)="changeLevel(item, level.name)">{{level.name}}</a>
                      </li>
                    </ul>
                  </div>
                  <span *ngIf="currentLogData(item).isCollapsed">{{levelsLegend(item)}}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-body" [collapse]="currentLogData(item).isCollapsed">
            <table class="table table-sm table-striped table-log">
              <thead>
                <tr>
                  <th style="width: 80px">Timestamp</th>
                  <th style="width: max-content;">Message</th>
                  <th style="width: 70px; text-align: center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of currentLogData(item).unwrappedData?.data">
                  <td style="font-weight: 400; text-align: center;">{{dataItem.timestamp | date:'dd/MM/yy HH:mm:ss'}}</td>
                  <td class="breakWord">
                    <span *ngIf="dataItem.type != null && dataItem.type != ''">&lt;{{dataItem.type}}&gt;</span>
                    {{dataItem.message}}
                  </td>
                  <td>
                    <div class="logButtons">
                      <span *ngIf="dataItem.group != null && dataItem.group != 'AspNetCore' && dataItem.group.length > 3" class="badge button-group button-log"
                      [routerLink]="['/diagnostics/search']" [queryParams]="{
                        term: dataItem.group,
                        env: environmentName,
                        fromDate: dataItem.timestamp,
                        toDate: dataItem.timestamp
                      }">Transaction</span>
                      <span *ngIf="dataItem.exception != null" (click)="showException(dataItem)" class="badge button-exception button-log">Exception</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer" [collapse]="currentLogData(item).isCollapsed" *ngIf="currentLogData(item).unwrappedData?.totalPages > 1">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="goToPage(item, currentLogData(item).unwrappedData?.pageNumber - 1)">Prev</a>
              </li>
              <li *ngFor="let i of currentLogData(item).totalPagesArray" class="page-item" [ngClass]="{ 'active' : i == currentLogData(item).unwrappedData?.pageNumber }">
                <a class="page-link" (click)="goToPage(item, i)">{{i+1}}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="goToPage(item, currentLogData(item).unwrappedData?.pageNumber + 1)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>

</div>

<!-- Exception View -->
<div bsModal #exceptionModal="bs-modal" class="modal fade exception-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-exception" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Exception View</h4>
        <button type="button" class="close" (click)="exceptionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="exceptionHeader">
          <div class="headerRow">
            <div>Timestamp</div>
            <div>Application</div>
            <div>Machine</div>
          </div>
          <div class="valueRow">
            <div>{{exceptionTimestamp | date:'dd/MM/yy HH:mm:ss.SSS'}}</div>
            <div>{{exceptionApplication}}</div>
            <div>{{exceptionMachine}}</div>
          </div>
        </div>
        <div class="exceptionBody">
          <div class="item" *ngIf="exceptionData?.exceptionType">
            <div class="key">Type</div>
            <div class="value">{{exceptionData?.exceptionType}}</div>
          </div>
          <div class="item" *ngIf="exceptionData?.source">
            <div class="key">Source</div>
            <div class="value">{{exceptionData?.source}}</div>
          </div>
          <div class="item">
            <div class="key">Message</div>
            <div class="value important">{{exceptionData?.message}}</div>
          </div>
          <div class="data" *ngIf="exceptionData?.data && exceptionData.data.length > 0">
            <div class="item" *ngFor="let itemData of exceptionData?.data">
              <div class="key">{{itemData.key}}</div>
              <div class="value important">{{itemData.value}}</div>
            </div>
          </div>
          <div class="exceptionStacktrace">
              <div class="title">Stacktrace</div>
              <div class="data">
                <div class="content" *ngIf="exceptionData?.stackTrace">{{exceptionData?.stackTrace}}</div>
                <div class="content" *ngIf="!(exceptionData?.stackTrace)">Stacktrace data is not available</div>
              </div>
          </div>
        </div>
        <div class="exceptionBody inner" *ngFor="let innerException of innerExceptionsData">
          <div class="item" *ngIf="innerException?.exceptionType">
            <div class="key">Type</div>
            <div class="value">{{innerException?.exceptionType}}</div>
          </div>
          <div class="item" *ngIf="innerException?.source">
            <div class="key">Source</div>
            <div class="value">{{innerException?.source}}</div>
          </div>
          <div class="item">
            <div class="key">Message</div>
            <div class="value important">{{innerException?.message}}</div>
          </div>
          <div class="data" *ngIf="innerException?.data && innerException.data.length > 0">
            <div class="item" *ngFor="let itemData of innerException?.data">
              <div class="key">{{itemData.key}}</div>
              <div class="value important">{{itemData.value}}</div>
            </div>
          </div>
          <div class="exceptionStacktrace">
              <div class="title">Stacktrace</div>
              <div class="data">
                <div class="content" *ngIf="innerException?.stackTrace">{{innerException?.stackTrace}}</div>
                <div class="content" *ngIf="!(innerException?.stackTrace)">Stacktrace data is not available</div>
              </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="exceptionModal.hide()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
