<div>

  <!-- Primer Row con Widgets -->
  <div class="row">
    <div class="col-6 col-lg-3">
      <div class="card widget-range-card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-calendar bg-info p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">
            <input type="text" placeholder="Showing dates" class="widget-range" bsDaterangepicker [bsConfig]="bsConfig" [bsValue]="bsValue"
              [(ngModel)]="bsValue" (ngModelChange)="getApplications()" />
          </div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Range</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bug bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{errorCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Errors</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-warning bg-warning p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3">{{warningCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Warnings</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-info bg-success p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">{{statsCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Stats</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row con Charts -->
  <div class="card" [hidden]="!showChart">
    <div class="card-body">
      <div class="chart-wrapper" style="height:150px">
        <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
          [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>

  <!-- No Data Alert -->
  <div class="card" *ngIf="!showChart">
    <div class="card-body">
      <alert type="info" class="no-bottom-margin-alert">
        <strong>Ups!, there is not data for the selected date range.</strong>
        <br/>
        Please select another range of dates to get results.
      </alert>
    </div>
  </div>

  <!-- Tablas de Datos -->
  <div *ngFor="let item of summary?.applications">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" [ngClass]="{
            'card-accent-success': currentLogData(item).level === 'Stats',
            'card-accent-danger': currentLogData(item).level === 'Error',
            'card-accent-warning': currentLogData(item).level === 'Warning',
            'card-accent-secondary': currentLogData(item).level !== 'Stats' && currentLogData(item).level !== 'Error' && currentLogData(item).level !== 'Warning',
            'card-collapsed': currentLogData(item).isCollapsed,
            'card-expanded': !currentLogData(item).isCollapsed
          }">
          <div class="card-header" [ngClass]="{ 'background-white': currentLogData(item).isCollapsed }">
            <table class="card-table">
              <tr>
                <td class="td-icon">
                  <i class="fa fa-pointer" [ngClass]="{
                      'fa-caret-right': currentLogData(item).isCollapsed,
                      'fa-caret-down': !currentLogData(item).isCollapsed }"
                    (click)="currentLogData(item).isCollapsed = !currentLogData(item).isCollapsed"></i>
                </td>
                <td class="td-title" (click)="currentLogData(item).isCollapsed = !currentLogData(item).isCollapsed">{{item.application}}</td>
                <td class="td-level">
                  <span *ngIf="!currentLogData(item).isCollapsed">{{currentLogData(item).unwrappedData?.totalResults}} items &nbsp;</span>
                  <div class="btn-group float-right" dropdown [isDisabled]="item.levels.length == 1" [hidden]="currentLogData(item).isCollapsed">
                    <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{
                                  'btn-success': currentLogData(item).level === 'Stats',
                                  'btn-danger': currentLogData(item).level === 'Error',
                                  'btn-warning': currentLogData(item).level === 'Warning',
                                  'btn-secondary': currentLogData(item).level !== 'Stats' && currentLogData(item).level !== 'Error' && currentLogData(item).level !== 'Warning'}">
                      {{currentLogData(item).level}}
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                      <li role="menuitem" *ngFor="let level of item.levels">
                        <a class="dropdown-item" (click)="changeLevel(item, level.name)">{{level.name}}</a>
                      </li>
                    </ul>
                  </div>
                  <span *ngIf="currentLogData(item).isCollapsed">{{currentLogData(item).unwrappedData?.totalResults}} items</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-body" [collapse]="currentLogData(item).isCollapsed">
            <table class="table table-sm table-striped table-log">
              <thead>
                <tr>
                  <th style="width: 135px">Timestamp</th>
                  <th style="width: 100px">Type</th>
                  <th style="width: max-content;">Message</th>
                  <th style="width: 100px">Machine</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of currentLogData(item).unwrappedData?.data">
                  <td>{{dataItem.timestamp | date:'dd/MM/yy HH:mm:ss'}}</td>
                  <td>{{dataItem.type}}</td>
                  <td class="breakWord">{{dataItem.message}}
                    <span *ngIf="dataItem.exception != null" (click)="showException(dataItem.exception)" class="badge button-exception">Show Exception</span>
                  </td>
                  <td>{{dataItem.machine}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination" *ngIf="currentLogData(item).unwrappedData?.totalPages > 1">
              <li class="page-item">
                <a class="page-link" (click)="goToPage(item, currentLogData(item).unwrappedData?.pageNumber - 1)">Prev</a>
              </li>
              <li *ngFor="let i of currentLogData(item).totalPagesArray" class="page-item" [ngClass]="{ 'active' : i == currentLogData(item).unwrappedData?.pageNumber }">
                <a class="page-link" (click)="goToPage(item, i)">{{i+1}}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="goToPage(item, currentLogData(item).unwrappedData?.pageNumber + 1)">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>

</div>

<!-- Exception View -->
<div bsModal #exceptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Exception View</h4>
        <button type="button" class="close" (click)="exceptionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <table class="table table-sm table-striped table-log">
          <thead>
            <tr>
              <th style="width: 100px">Name</th>
              <th style="width: max-content;">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Type</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.exceptionType}}</td>
            </tr>
            <tr>
              <td>Source</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.source}}</td>
            </tr>
            <tr>
              <td>Message</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.message}}</td>
            </tr>
            <tr *ngFor="let itemData of exceptionData?.data">
              <td>Data.{{itemData.key}}</td>
              <td class="breakWord font-weight-bold">{{itemData.value}}</td>
            </tr>
            <tr>
              <td>Stacktrace</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.stackTrace}}</td>
            </tr>
          </tbody>
        </table>

        <div *ngFor="let innerException of innerExceptionsData">
          <div class="font-weight-bold inner-exception-title">Inner Exception:</div>
          <table class="table table-sm table-striped table-log">
            <thead>
              <tr>
                <th style="width: 100px">Name</th>
                <th style="width: max-content;">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Type</td>
                <td class="breakWord font-weight-bold">{{innerException.exceptionType}}</td>
              </tr>
              <tr>
                <td>Source</td>
                <td class="breakWord font-weight-bold">{{innerException.source}}</td>
              </tr>
              <tr>
                <td>Message</td>
                <td class="breakWord font-weight-bold">{{innerException.message}}</td>
              </tr>
              <tr *ngFor="let itemData of innerException.data">
                <td>Data.{{itemData.key}}</td>
                <td class="breakWord font-weight-bold">{{itemData.value}}</td>
              </tr>
              <tr>
                <td>Stacktrace</td>
                <td class="breakWord font-weight-bold">{{innerException.stackTrace}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="exceptionModal.hide()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
