<ol class="breadcrumb breadcrumb-body">
  <table>
    <tr>
      <td class="breadcrumb-icon">
      </td>
      <td class="breadcrumb-title">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input type="text" [(ngModel)]="searchValue" (keyup.enter)="doSearch()" id="search" name="search" class="form-control" placeholder="Enter your search">
          <span class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="doSearch()">Search</button>
          </span>
        </div>
      </td>
    </tr>
  </table>
</ol>

<div>

  <div *ngIf="bProcessing">
    <strong>Searching ...</strong>
  </div>

  <div class="card" *ngIf="bHasResults == false">
    <div class="card-body">
      <alert type="info" class="no-bottom-margin-alert">
        <strong>Nothing found!</strong>
        <br/> There are not results for this query, try another query and hit search again.
      </alert>
    </div>
  </div>


</div>
