<ol class="breadcrumb breadcrumb-body">
  <table>
    <tr>
      <td class="breadcrumb-icon">
      </td>
      <td class="breadcrumb-title">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input type="text" [(ngModel)]="searchValue" (keyup.enter)="doSearch()" id="search" name="search" class="form-control" placeholder="Enter your search">
          <span class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="doSearch()">Search</button>
          </span>
        </div>
      </td>
    </tr>
  </table>
</ol>

<div>

  <div *ngIf="bProcessing">
    <strong>Searching ...</strong>
  </div>

  <div class="card" *ngIf="bHasResults == false">
    <div class="card-body">
      <alert type="info" class="no-bottom-margin-alert">
        <strong>Nothing found!</strong>
        <br/> There are not results for this query, try another query and hit search again.
      </alert>
    </div>
  </div>

  <div *ngIf="bHasResults == true">

    <div class="card">
      <div class="card-header">
        <table class="card-table">
          <tr>
            <td class="td-icon">
              <i class="fa fa-reorder"></i>
            </td>
            <td class="td-title">Logs</td>
            <td class="td-level">
              <span>{{searchResults.logs.length}} items &nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body">

        <table class="table table-sm table-striped table-log table-log-search">
          <thead>
            <tr>
              <th style="width: 155px">Metadata</th>
              <th style="width: max-content;">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dataItem of searchResults.logs" [ngClass]="{
              'tr-level-error': dataItem.level == 'Error',
              'tr-level-warning': dataItem.level == 'Warning',
              'tr-level-success': dataItem.level == 'Stats'
            }">
              <td>
                <strong>{{dataItem.timestamp | date:'dd/MM/yy HH:mm:ss.SSS'}}</strong>
              </td>
              <td class="breakWord">
                <span class="td-app">{{dataItem.application}}</span>
                <span *ngIf="dataItem.type != null">&lt;{{dataItem.type}}&gt;</span>
                {{dataItem.message}}
                <span *ngIf="dataItem.exception != null" (click)="showException(dataItem)" class="badge button-exception">Show Exception</span>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>

    <div *ngFor="let group of searchTraces" class="card">
      <div class="card-header">
        <table class="card-table">
          <tr>
            <td class="td-icon">
              <i class="fa fa-cubes"></i>
            </td>
            <td class="td-title"><strong>Traces from group: </strong>{{group[0].group}}</td>
            <td class="td-level">
              <span>{{group.length}} items &nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body">
        Items
      </div>
    </div>

  </div>

</div>




<!-- Exception View -->
<div bsModal #exceptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Exception View</h4>
        <button type="button" class="close" (click)="exceptionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <table class="table table-sm table-striped table-log">
          <thead>
            <tr>
              <th style="width: 100px">Name</th>
              <th style="width: max-content;">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Timestamp</td>
              <td class="breakWord font-weight-bold">{{exceptionTimestamp | date:'dd/MM/yy HH:mm:ss.SSS'}}</td>
            </tr>
            <tr>
              <td>Application</td>
              <td class="breakWord font-weight-bold">{{exceptionApplication}}</td>
            </tr>
            <tr>
              <td>Machine</td>
              <td class="breakWord font-weight-bold">{{exceptionMachine}}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.exceptionType}}</td>
            </tr>
            <tr>
              <td>Source</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.source}}</td>
            </tr>
            <tr>
              <td>Message</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.message}}</td>
            </tr>
            <tr *ngFor="let itemData of exceptionData?.data">
              <td>Data.{{itemData.key}}</td>
              <td class="breakWord font-weight-bold">{{itemData.value}}</td>
            </tr>
            <tr>
              <td>Stacktrace</td>
              <td class="breakWord font-weight-bold">{{exceptionData?.stackTrace}}</td>
            </tr>
          </tbody>
        </table>

        <div *ngFor="let innerException of innerExceptionsData">
          <div class="font-weight-bold inner-exception-title">Inner Exception:</div>
          <table class="table table-sm table-striped table-log">
            <thead>
              <tr>
                <th style="width: 100px">Name</th>
                <th style="width: max-content;">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Type</td>
                <td class="breakWord font-weight-bold">{{innerException.exceptionType}}</td>
              </tr>
              <tr>
                <td>Source</td>
                <td class="breakWord font-weight-bold">{{innerException.source}}</td>
              </tr>
              <tr>
                <td>Message</td>
                <td class="breakWord font-weight-bold">{{innerException.message}}</td>
              </tr>
              <tr *ngFor="let itemData of innerException.data">
                <td>Data.{{itemData.key}}</td>
                <td class="breakWord font-weight-bold">{{itemData.value}}</td>
              </tr>
              <tr>
                <td>Stacktrace</td>
                <td class="breakWord font-weight-bold">{{innerException.stackTrace}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="exceptionModal.hide()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
