<ol class="breadcrumb breadcrumb-body" style="margin-bottom: 10px;">
  <table>
    <tr>
      <td class="breadcrumb-icon">
      </td>
      <td class="breadcrumb-title">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input type="text" [(ngModel)]="searchValue" (keyup.enter)="doSearch()" id="search" name="search" class="form-control" placeholder="Enter your search">
          <input type="text" placeholder="Showing dates" class="form-control fa-pointer input-date" bsDaterangepicker [bsConfig]="bsConfig"
              [bsValue]="bsValue" [(ngModel)]="bsValue" (ngModelChange)="doSearch()" />
          <span class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="doSearch()">Search</button>
          </span>
        </div>
      </td>
      <td class="breadcrumb-icon">
          <span class="fa-pointer float-right" *ngIf="bHasResults == true" (click)="getData()">
              <i class="fa fa-refresh"></i>&nbsp;
              <span>Refresh</span>
          </span>
      </td>
    </tr>
  </table>
</ol>

<div class="col-lg-12 scrollOverlay">

  <div class="center-search" *ngIf="bProcessing">
    <img src="assets/img/loading.gif" />
    <div>.: Searching :.</div>
  </div>

  <div class="card" *ngIf="bHasResults == false">
    <div class="card-body noResultsCard">
      <alert type="info" class="no-bottom-margin-alert">
        <strong>Nothing found!</strong>
        <br/> There are not results for this query, try another query and hit search again.
      </alert>
    </div>
  </div>

  <div *ngIf="bHasResults == true">

    <tabset>
      <tab *ngFor="let group of results" class="tab-search">
        <ng-template tabHeading><i class="icon-tag"></i>{{group}}</ng-template>
        <view-group [group]="group"></view-group>
      </tab>
    </tabset>
    <br/>

  </div>

</div>
