<div class="counter-page">

    <!-- No Data Alert -->
    <div class="col-lg-12" *ngIf="noData == true">
      <div class="card noData">
        <div class="card-body">
          <alert type="info" class="no-bottom-margin-alert">
            <strong>Ups!, there is not satus data in this environment</strong>
          </alert>
        </div>
      </div>
    </div>

    <div class="countersViewport" *ngIf="noData == false">

      <div class="countersSidebar little" [ngClass]="{'hide': showSideBar}" (click)="toggleSidebar()">
          <i class="fa fa-area-chart"></i>
      </div>
      <div class="countersSidebar" [ngClass]="{'hide': !showSideBar}">
        <span class="countersTitle" (click)="hideSidebar()">Counters</span>
        <div class="appCounter" *ngFor="let appItem of counters">
          <span (click)="toggleVisible(appItem)"><i class="fa fa-gear"></i>{{appItem.applicationName}}</span>
          <div class="kindCounter" [ngClass]="{'hide': !appItem.itemsVisible}" *ngFor="let kindItem of appItem.items">
            <span (click)="toggleVisible(kindItem)"><i class="fa fa-caret-right"></i>{{kindItem.kindName}}</span>
            <div class="categoryCounter" [ngClass]="{'hide': !kindItem.itemsVisible}" *ngFor="let categoryItem of kindItem.items">
              <span (click)="toggleVisible(categoryItem)"><i class="fa fa-caret-right"></i>{{categoryItem.categoryName}}</span>
              <div class="counterItem" [ngClass]="{'hide': !categoryItem.itemsVisible}" *ngFor="let counterItem of categoryItem.items">
                <span (click)="toggleSelect(counterItem)"><i class="fa" [ngClass]="{'fa-square-o': !counterItem.selected, 'fa-square': counterItem.selected }"></i>{{counterItem.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title" (click)="hideSidebar()">Services Status</div>

      <div class="countersContent" (click)="hideSidebar()">

        <div class="card counter-card" *ngFor="let counterItem of shownCounters">
          <div class="card-header">
            <div class="app-title">{{counterItem.application}}</div>
            <div class="name-title">{{counterItem.name}}</div>
          </div>
          <div class="card-body counter-body">
            <div class="chart-wrapper">
              <canvas baseChart class="chart" style="height:300px; max-height: 300px;"
                [datasets]="counterItem.barChartData"
                [labels]="counterItem.barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>

      </div>

    </div>

</div>
