<div class="counter-page">

    <!-- No Data Alert -->
    <div class="col-lg-12" *ngIf="noData == true">
      <div class="card noData">
        <div class="card-body noResultsCard">
          <alert type="info" class="no-bottom-margin-alert">
            <strong>Ups!, there is not satus data in this environment</strong>
          </alert>
        </div>
      </div>
    </div>

    <div class="center-search" *ngIf="bProcessing">
      <img src="assets/img/loading.gif" />
      <div>.: Loading :.</div>
    </div>

    <div class="countersViewport" *ngIf="!bProcessing && noData == false">

      <div class="countersSidebar little" [ngClass]="{'hide': showSideBar}" (click)="toggleSidebar()">
          <i class="fa fa-area-chart"></i>
      </div>
      <div class="countersSidebar" [ngClass]="{'hide': !showSideBar}">
        <span class="countersTitle" (click)="hideSidebar()">Counters</span>
        <div class="appCounter" *ngFor="let appItem of counters">
          <span (click)="toggleVisible(appItem)"><i class="fa fa-gear"></i>{{appItem.applicationName}}</span>
          <div class="kindCounter" [ngClass]="{'hide': !appItem.itemsVisible}" *ngFor="let kindItem of appItem.items">
            <span (click)="toggleVisible(kindItem)"><i class="fa fa-caret-right"></i>{{kindItem.kindName}}</span>
            <div class="categoryCounter" [ngClass]="{'hide': !kindItem.itemsVisible}" *ngFor="let categoryItem of kindItem.items">
              <span (click)="toggleVisible(categoryItem)"><i class="fa fa-caret-right"></i>{{categoryItem.categoryName}}</span>
              <div class="counterItem" [ngClass]="{'hide': !categoryItem.itemsVisible}" *ngFor="let counterItem of categoryItem.items">
                <span (click)="toggleSelect(counterItem)"><i class="fa" [ngClass]="{'fa-square-o': !counterItem.selected, 'fa-square': counterItem.selected }"></i>{{counterItem.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title" (click)="hideSidebar()">Services Status
        <span class="fa-pointer float-right" *ngIf="selectedCounters.length > 0" (click)="getData()" style="
          margin-top: -2px;
          margin-right: 5px;
          font-weight: normal;">
          <i class="fa fa-refresh"></i>&nbsp;
          <span>Refresh</span>
        </span>
      </div>

      <div class="countersContent" (click)="hideSidebar()">

        <div class="chart-page">
          <ng-container *ngFor="let counterId of selectedCounters">
              <chart-item [counterId]="counterId"></chart-item>
          </ng-container>
        <div>

      </div>

    </div>

</div>
