<div>

  <div class="row">
    <div class="col-lg-2 back-link">
      <i class="fa fa-chevron-left fa-pointer" (click)="goBack()">&nbsp;&nbsp; Back</i>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body title">
          <alert type="info" class="no-bottom-margin-alert">
            <h5>
              <strong>Trace Group:</strong>&nbsp;&nbsp;{{group}}</h5>
          </alert>
        </div>
      </div>
    </div>
  </div>

  <!-- No Group Alert -->
  <div class="card" *ngIf="group == null">
    <div class="card-body">
      <alert type="info" class="no-bottom-margin-alert">
        <strong>Ups!, something went wrong</strong>
        <br/> You must select a trace group in order to view it's details.
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header">
          <i class="fa fa-cubes"></i>
          <strong>Group:</strong> {{group}}
        </div> -->
        <div class="card-body">
          <i class="fa fa-pointer fa-refresh float-right" (click)="updateData()"></i>
          <table class="table table-sm table-striped table-trace">
            <thead>
              <tr>
                <th style="width: max-content;">Name</th>
                <th style="width: 365px">Application</th>
                <th style="width: 90px">Machine</th>
                <th style="width: 180px">Tags</th>
                <th style="width: 90px">Timestamp</th>
                <th style="width: 80px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="breakWord">
                  <i class="fa fa-cube">&nbsp;&nbsp;</i>{{item.name}}</td>
                <td class="breakWord">{{item.application}}</td>
                <td>{{item.machine}}</td>
                <td>
                  <button *ngFor="let tag of item.tagsArray" class="btn badge badge-tag" [ngClass]="{
                      'button-info' : tag.key != 'Status',
                      'button-success' : tag.key == 'Status' && tag.value == 'Success',
                      'button-error' : tag.key == 'Status' && tag.value == 'Error'
                    }" [popover]="tag.value" [popoverTitle]="tag.key" placement="top" [outsideClick]="true">
                    {{tag.key}}
                  </button>
                </td>
                <td>{{item.timestamp | date:'HH:mm:ss.SSS'}}</td>
                <td>
                  <button class="btn badge badge-tag button-ser" (click)="showJsonData(item.id, item.name)">Json</button>
                  <button class="btn badge badge-tag button-ser" (click)="showXmlData(item.id, item.name)">Xml</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- Trace View -->
<div bsModal #traceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong>Trace Object View: </strong> {{traceName}}</h5>
        <button type="button" class="close" (click)="traceModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-codemirror></ngx-codemirror>
      </div>
    </div>
  </div>
</div>
