<ol class="breadcrumb breadcrumb-body">
  <table>
    <tr>
      <td class="breadcrumb-icon"></td>
      <td class="breadcrumb-title">
        <strong>Day Traces</strong> -
        <input type="text" placeholder="Showing dates" class="widget-date widget-day fa-pointer" bsDatepicker [bsConfig]="bsConfig" [bsValue]="bsValue"
              [(ngModel)]="bsValue" (ngModelChange)="changeDate()" />
            <span class="fa-pointer float-right" (click)="updateData()">
                <i class="fa fa-refresh"></i>&nbsp;
                <span>Refresh</span>
            </span>
      </td>
    </tr>
  </table>
</ol>

<div>

  <!-- No Data Alert -->
  <div class="col-lg-12" *ngIf="traceData != null && traceData?.data.length == 0">
    <div class="card">
      <div class="card-body">
        <alert type="info" class="no-bottom-margin-alert">
          <strong>Ups!, there is not data for the selected date</strong>
          <br/> Please select another date to get results.
        </alert>
      </div>
    </div>
  </div>

  <!-- Tablas de Datos -->
  <div class="row" *ngIf="traceData != null && traceData.data.length > 0">
    <div class="col-lg-12 scrollOverlay">
      <div class="card">
        <div class="card-body">

          <span class=" float-right">
              <span *ngIf="traceData != null">{{traceData.totalResults}} items &nbsp;</span>
          </span>

          <table class="table table-sm table-striped table-trace-list" cellpadding="10">
            <thead>
              <tr>
                <th style="width: 120px;">Start</th>
                <th style="width: 160px;">Time</th>
                <th style="width: max-content;">Group</th>
                <th style="width: 60px;">Count</th>
                <th style="width: 90px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataItem of traceData?.data">
                <td>{{dataItem.start | date:'HH:mm:ss.SSS'}}</td>
                <td style="text-align: right;">{{ getTimeDiff(dataItem.end, dataItem.start) }}</td>
                <td class="breakWord">{{dataItem.group}}</td>
                <td>{{dataItem.count}}</td>
                <td>
                  <span class="badge"
                    [ngClass]="{ 'button-success': !dataItem.hasErrors, 'button-error': dataItem.hasErrors }"
                    [routerLink]="['/diagnostics/search']" [queryParams]="{
                      term: dataItem.group,
                      env: environmentName,
                      fromDate: dataItem.start,
                      toDate: dataItem.end
                    }">View details</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer" *ngIf="traceData?.totalPages > 1">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="goToPage(traceData?.pageNumber - 1)">Prev</a>
            </li>
            <li *ngFor="let i of totalPagesArray" class="page-item" [ngClass]="{ 'active' : i == traceData?.pageNumber }">
              <a class="page-link" (click)="goToPage(i)">{{i+1}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="goToPage(traceData?.pageNumber + 1)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
