// Here you can add other styles
.bolder {
  font-weight: bold;
}

.env-nav-link {
  padding: 0.5rem 1rem !important;
}

.env-nav {
  padding-right: 1rem;
}

.pagination {
  justify-content: center;
  margin-bottom: 0rem;
}

.breakWord {
  word-break: break-all;
  white-space: pre-wrap;
}
.breakWord span {
  font-size: 11px;
}

.button-exception {
  font-size: 95%;
  float: right !important;
  color: #fff;
  background-color: #f86c6b;
  cursor: pointer;
  margin:2px;
}
.button-group {
  font-size: 95%;
  float: right !important;
  color: #fff;
  background-color: #03A9F4;
  cursor: pointer;
  margin:2px;
}
.button-success {
  font-size: 95%;
  float: right !important;
  color: #fff;
  background-color: #4dbd74;
  cursor: pointer;
}
.button-error {
  font-size: 95%;
  float: right !important;
  color: #fff;
  background-color: #f86c6b;
  cursor: pointer;
}
.button-info {
  font-size: 95%;
  float: right !important;
  color: #fff;
  background-color: #03A9F4;
  cursor: pointer;
}
.button-ser {
  font-size: 95%;
  float: right !important;
  color: #fff;
  background-color: #009688;
  cursor: pointer;
}
.logButtons {
  display: inline;
  float: right;
}

.content-center {
  justify-content: center;
}

.title {
  padding: 0.3rem;
}
.title h5 {
  justify-content: center;
  color: #ffffff;
  margin-bottom: 0px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700 !important;
  // text-transform: uppercase !important;
}
.title div {
  justify-content: center;
  background-color: #63c2de !important;
  border-width: 0px;
  border-radius: 0px;
}

.back-link {
  color: #03A9F4;
}

.bs-datepicker-container {
  padding: 5px !important;
}

.bs-datepicker-multiple+.bs-datepicker-multiple {
  margin-left: 5px;
}

.table-sm th,
.table-sm td {
  border-top-width: 0px !important;
}

.card-accent-danger {
  border-bottom-color: #f86c6b;
  border-bottom-width: 2px;
}

.card-accent-warning {
  border-bottom-color: #ffc107;
  border-bottom-width: 2px;
}

.card-accent-success {
  border-bottom-color: #4dbd74;
  border-bottom-width: 2px;
}

.card-accent-secondary {
  border-bottom-color: #c8ced3;
  border-bottom-width: 2px;
}

.card-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-table {
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  border-width: 0rem;
}

.card-table .td-icon {
  width: 0%;
  padding-right: 7px;
}

.card-table .td-title {
  width: 75%;
  font-weight: bold;
  cursor: pointer;
}

.card-table .td-level {
  width: 25%;
  text-align: right;
}
.card-table .td-level span {
  font-weight: 700;
  color: #a7a7a7;
  font-size: 80%;
  margin-bottom: -1px;
}
.card-table .td-level .expandedSpan {
  display:inline-block;
  margin-top: 0.3rem;
}

.chart-wrapper {
  height:205px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.table-log {
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.table-log td {
  font-family: Consolas, 'Courier New', Courier, monospace;
}
.table-log-search {
  line-height: 1.2;
}
.table-log-search td {
  vertical-align: middle;
  padding: 0.1rem 0.3rem;
}

.span-level-error {
  color: #f86c6b;
  font-weight: bold;
  text-transform: uppercase;
}
.span-level-warning {
  color: #ffc107;
  font-weight: bold;
  text-transform: uppercase;
}
.span-level-success {
  color: #4dbd74;
  font-weight: bold;
  text-transform: uppercase;
}




.td-app {
  font-size:10px !important;
  font-style: italic;
  border-bottom: 1px solid;
  padding: 2px 4px 0px 4px;
  margin-right: -4px;
  margin-top: -2px;
  color: #555;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-align: right;
  font-weight: bold;
}

.tr-level-error .td-app {
  background-color: #fdc5c5;
  border-bottom-color: #fdd8d7;
}
.tr-level-warning .td-app {
  background-color: #ffe7aa;
  border-bottom-color: #ffeec3;
}
.tr-level-success .td-app {
  background-color: #b9e4c8;
  border-bottom-color: #d1edda;
}


.trace-td-app {
  font-size:10px !important;
  font-style: italic;
  padding: 2px 4px 0px 4px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-align: right;
  font-weight: bold;
}


.span-app {
  font-size:10px !important;
  font-style: italic;
  float: right;
  border-bottom: 1px solid;
  border-left: 1px solid;
  padding: 2px 4px 0px 4px;
  margin-right: -4px;
  margin-top: -2px;
  color: #555;
  // max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}

.tr-level-error .span-app {
  background-color: #f86c6b44;
  border-bottom-color: #f86c6b44;
  border-left-color: #f86c6b44;
}
.tr-level-warning .span-app {
  background-color: #ffc10744;
  border-bottom-color: #ffc10744;
  border-left-color: #ffc10744;
}
.tr-level-success .span-app {
  background-color: #4dbd7444;
  border-bottom-color: #4dbd7444;
  border-left-color: #4dbd7444;
}



.table-trace {
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.table-trace td {
  vertical-align: middle;
  font-family: Consolas, 'Courier New', Courier, monospace;
}
.table-trace .breakWord {
  padding-right: 15px !important;
}

.card-range {
  flex: 1 1 auto;
  padding: 0.6rem;
  width: 250px;
}

.card-range .range-row {
  padding-bottom: 0.6rem;
}

.card-range .range-row .form-group {
  margin-bottom: 0px !important;
}

.card-lessmargin {
  margin-bottom: 0.5rem;
}

.widget-date {
  width: auto;
  padding: 0px;
  font-family: inherit;
  font-size: 0.7rem;
  line-height: 0px;
  border-width: 0px;
  font-weight: bold;
  color: #63c2de !important
}
.widget-range-card {
  min-width: 235px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1400px !important;
  }
}

.inner-exception-title {
  border-top: solid 2px #f86c6b;
  padding: 5px;
  border-radius: 10px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-bottom-margin-alert div {
  margin-bottom: 0px;
}

.fa-pointer {
  cursor: pointer;
}
.fa-refresh {
  margin-top:0.5rem;
}

.background-white {
  background-color: #ffffff;
}

.card-collapsed {
  margin-bottom: 0.5rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 0px;
}
.card-collapsed .card-header {
  border-bottom-width: 0px;
}
.card-header {
  padding: 0.4rem 1.25rem 0.55rem 1.25rem;
}
.card-expanded {
  margin-bottom: 2rem;
  /*margin-top: 1.5rem;*/
}
.card-expanded .card-header {
  padding-top:5px;
  padding-bottom: 6px;
}
.card-expanded .right-buttons {
  margin-right: -10px;
}

.badge-tag {
  margin-bottom: 1px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
}

.popover {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.popover-header {
  background-color: #607d8b !important;
  color: #ffffff !important;
}

.pre-body {
  background-color: #1d1d1d;
  padding: 10px;
  font-family: Consolas;
  border-radius: 10px;
  min-height: 600px;
  max-height: 600px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
  color: #e4e4e4;
}

.CodeMirror {
  font-size:14px;
  border-radius: 0.5rem;
}

.modal-code {

}
.modal-code .modal-header {
  padding:0.5rem 1rem;
  border-bottom-color: #20a8d8;
}
.modal-code .modal-body {
  padding:0rem;
}
.modal-code .CodeMirror {
  border-radius: 0px !important;
}
.modal-code .modal-content {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.modal-exception .modal-body {
  padding:0rem;
}

.breadcrumb-body {
  margin: -22px -30px 22px -30px;
}
.breadcrumb-body table {
  width:100%;
  padding: 0px;
  margin: 0px;
}
.breadcrumb-icon {
  width:10%;
  padding: 0px;
}
.breadcrumb-title {
  text-align: center;
  padding: 0px;
  color:#444444;
}
.breadcrumb-title .float-right {
  margin-top: -4px;
}
.breadcrumb-icon .float-right {
  margin-top: -4px;
}
.breadcrumb-body .widget-range {
  font-size: inherit !important;
  width:190px;
}

.breadcrumb-body .widget-day {
  font-size: inherit !important;
  width:100px;
}

.header{
  min-width: 190px;
}
.header .card {
  margin-bottom: 0.5rem;
}
.header .bg-danger {
  width: 70px;
}
.header .bg-warning {
  width: 70px;
  padding-left: 1.45rem !important;
}
.header .bg-success {
  width: 70px;
  padding-left: 2rem !important;
}
.fa-blue {
  color: #03A9F4;
}
.fa-big {
  font-size: 16px;
}

.modal-body {
  padding:0.5rem;
}
.modal-header {
  padding:0.5rem;
}
.input-group .input-date {
  flex: 0.3 0.5 auto;
}

.blue-color {
  color: #2156f3;
}
.error-message {
  color: #e62011;
  font-size:13px;
}
.stacktrace {
  background: #d2d2d2;
  color: #000000;
  border-radius: 10px;
  padding: 10px !important;
  font-weight: bold;
}


.trace-application-color0 {
  color: #1470fb;
  font-weight: bold;
}
.trace-application-color1 {
  color: #c80101;
  font-weight: bold;
}
.trace-application-color2 {
  color: #5d1193;
  font-weight: bold;
}
.trace-application-color3 {
  color: #ae670b;
  font-weight: bold;
}
.trace-application-color4 {
  color: #007b20;
  font-weight: bold;
}
.trace-application-color5 {
  color: #0081ab;
  font-weight: bold;
}
.trace-application-color6 {
  color: #001b7b;
  font-weight: bold;
}


.trace-application-bgcolor0 button {
  background-color: #1470fb;
  font-weight: bold;
}
.trace-application-bgcolor1 button {
  background-color: #c80101;
  font-weight: bold;
}
.trace-application-bgcolor2 button {
  background-color: #5d1193;
  font-weight: bold;
}
.trace-application-bgcolor3 button {
  background-color: #ae670b;
  font-weight: bold;
}
.trace-application-bgcolor4 button {
  background-color: #007b20;
  font-weight: bold;
}
.trace-application-bgcolor5 button {
  background-color: #0081ab;
  font-weight: bold;
}
.trace-application-bgcolor6 button {
  background-color: #001b7b;
  font-weight: bold;
}


.trace-application-bgcolor0 span {
  color: #1470fb;
  font-weight: bold;
}
.trace-application-bgcolor1 span {
  color: #c80101;
  font-weight: bold;
}
.trace-application-bgcolor2 span {
  color: #5d1193;
  font-weight: bold;
}
.trace-application-bgcolor3 span {
  color: #ae670b;
  font-weight: bold;
}
.trace-application-bgcolor4 span {
  color: #007b20;
  font-weight: bold;
}
.trace-application-bgcolor5 span {
  color: #0081ab;
  font-weight: bold;
}
.trace-application-bgcolor6 span {
  color: #001b7b;
  font-weight: bold;
}








.tab-search {
  padding: 1rem 0px !important;
  padding-bottom: 0px !important;
}
.card-search{
  margin-bottom: 15px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  .card-header {
    display:flex;
    justify-items: center;
    cursor: pointer;
  }
  .card-body{
    padding: 15px;
    padding-bottom: 0px;
  }
}
.dvData {
  // :first-child {
  //   border-top-left-radius: 5px;
  //   border-top-right-radius: 5px;
  // }
  // :last-child {
  //   border-bottom-left-radius: 5px;
  //   border-bottom-right-radius: 5px;
  // }
}
.dvRow {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 2px;
}
.dvTimeCol {
  flex: 1;
  justify-content: center;
  font-weight: bold;
  text-align: left;
  align-self: center;
}
.dvMessageCol {
  flex: 10;
  padding-left: 10px;
  justify-content: center;
  white-space: pre-wrap;
  word-break: break-all;
  i {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 5px;
  }
  .btn {
    margin: 1px 2px 1px 0px;
    padding: 2px 5px 0px;
    font-size: 11px;
    font-weight: 700;
    border: 1px solid #669aff;
    background-color: #85aefe;
    color: #ffffff;
  }
  .dvButtons {
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 0px 5px;
    display: inline;
    border-color: #85aefe;
  }
}

.dv-level-error {
  background-color: #f86c6b44 !important;
  border-bottom: 1px solid #f86c6b44;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dv-level-warning {
  background-color: #ffc10744 !important;
  border-bottom: 1px solid #ffc10744;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dv-level-success {
  background-color: #4dbd7444 !important;
  border-bottom: 1px solid #4dbd7444;
}
.dv-level-trace {
  background-color: #0572f347 !important;
  border-bottom: 1px solid #0554ff52;
  border-top: 1px solid #0554ff52 !important;
  border-radius: 15px;
  margin: 1px 0px;
  padding: 3px 20px;
}
