// Here you can add other styles
.bolder
{
  font-weight: bold;
}
.env-nav-link {
  padding: 0.5rem 1rem !important;
}
.env-nav {
  padding-right: 1rem;
}
.pagination {
  justify-content: center;
}
.breakWord {
  word-break: break-word;
}
.content-center {
  justify-content: center;
}
.bs-datepicker-container{
  padding: 5px !important;
}
.bs-datepicker-multiple + .bs-datepicker-multiple{
  margin-left: 5px;
}
.table-sm th, .table-sm td {
  border-top-width: 0px !important;
}
